@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT SIZE SYSTEM (rem)
1rem (16px)/ 1.125rem / 1.25rem / 1.5rem / 1.875rem / 2.25rem / 2.75rem / 3.25rem / 3.875rem / 4.625rem / 5.375rem / 6.125rem

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}


/************************************
            HEADER
*************************************/
header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(/assets/hero.jpg);
  background-size: cover;
  color: #fff;
}

.header-container {
  width: 75rem;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-container-inner {
  width: 45%;
}

.header-container-inner h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

.header-container-inner p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

/************************************
            NAVBAR
*************************************/

.navbar-list {
  width: 100vw;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;

}

.github-icon {
  font-size: 1.875rem;
}

.navbar-list li {
  list-style: none;
  padding: 0 1rem;
}

.navbar-list a:link,
.navbar-list a:visited {
  color: #fff;
  text-decoration: none;
}

.navbar-list a:hover,
.navbar-list a:active {
  text-decoration: underline;
}


/************************************
          ABOUT GIT
*************************************/
.about-git {
  max-width: 50rem;
  margin: 0 auto;
}

.about-git h2 {
  margin-top: 2rem;
}

.about-git p {
  margin-top: 1rem;
}